body,html{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding:0;
  
}
header{
  background-color: black;
  padding:15px 20px;
  color:whitesmoke;
  display:flex;
  justify-content: space-between;
  align-items: center;
  top:0;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}
nav a{
  font-size: 20px;
  margin:0px 20px;
  text-decoration: none;
  color:white;
}
#user-display{
  position: absolute;
  right: 20px;
  top: 20px;
}
.content {
  margin-top: 30px;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 80px;
 background: linear-gradient(to right, violet, rgb(223, 30, 30));
  color: white;

}

.btn {
  display: inline-block;
  margin-top: 30px;
  background-color: white;
  color: #e52e71;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.highlights {

  background: yellow;
  padding: 30px;
  margin: 60px auto;
  width: 80%;
  text-align: center;
  border-radius: 12px;
}

.highlights h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.highlights ul {
  list-style: none;
}

.highlights ul li {
  font-size: 18px;
  padding: 8px 0;
}
.products{
  margin-top: 120px;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  padding:50px;
  gap:40px;
  

}
.product img{
  width:90px;
  height:90px;
  border-radius: 15px;
  
}
.product{
  box-shadow:2px 2px 15px grey;
  background-color: rgb(226, 220, 220);
  padding:5px;
  border-radius: 10px;
  width:250px;
  height:350px;
  text-align: center;
}
.product button{
 
  display: inline-block;
  margin-top: 30px;
  background-color: white;
  color:deeppink;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  
}
footer{
  
  background-color: black;
  color:white;
  text-align: center;
  padding:10px;
  position:fixed;
  width:100%;
  bottom:0;
}
